@(product:AppCarStyle)
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>@common.title()</title>

		<meta name="description" content="jcoa" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<!-- bootstrap & fontawesome -->
		@common.bootstrapcss()
    
		<!-- inline styles related to this page -->
		@common.bootstrapjs()
		<script src="@routes.Assets.at("source/ajaxupload.js")"></script>
		<!--引入CSS-->
		<link rel="stylesheet" type="text/css" href="@routes.Assets.at("webuploader-0.1.5/webuploader.css")">
		
		<!--引入JS-->
		<script type="text/javascript" src="@routes.Assets.at("webuploader-0.1.5/webuploader.js")"></script>
		
		<!--引入CSS-->
		<link rel="stylesheet" type="text/css" href="@routes.Assets.at("webuploader-0.1.5/demo.css")">
		
		<!--引入JS-->
		<script type="text/javascript" src="@routes.Assets.at("webuploader-0.1.5/demo.js")"></script>
		
		<script type="text/javascript" src="@routes.Assets.at("js/bootstrap-colorpicker.js")"></script>
		
		<link rel="stylesheet" type="text/css" href="@routes.Assets.at("css/colorpicker.css")">
		
		<!--SWF在初始化的时候指定，在后面将展示-->
				
	</head>

	<body class="no-skin">
		<!-- #section:basics/navbar.layout -->

		<!-- /section:basics/navbar.layout -->
		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<!-- #section:basics/sidebar left-->

			<!-- /section:basics/sidebar -->
			<div class="main-content">
				<div class="main-content-inner">
					<!-- #section:basics/content.breadcrumbs -->
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">首页</a>
							</li>

							<li>
								<a href="#">APP车型管理</a>
							</li>
							<li>
								<a href="#">车型管理</a>
							</li>
							<li>
								<a href="#">新版业务</a>
							</li>
							<li class="active">设置业务</li>
						</ul><!-- /.breadcrumb -->

						<!-- /section:basics/content.searchbox -->
					</div>

					<!-- /section:basics/content.breadcrumbs -->
					<div class="page-content">

						<!-- /section:settings.box -->
						<div class="page-header">
							<h1>
								设置业务
								<small>
									<i class="ace-icon fa fa-angle-double-right"></i>
								</small>
							</h1>
						</div><!-- /.page-header -->
						<div style="text-align: left;">
							<button class="btn btn-sm btn-primary" onclick="window.location.href='/appCarList' "><i class="ace-icon glyphicon glyphicon-backward"></i>返回</button>
							<br>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<form class="form-horizontal" role="form" name="s1" id="s1" action="/appCarStyleBusinessSetDo" method="post" >
									<div class="form-group" >
									<label class="col-sm-3 control-label no-padding-right" for="form-field-1">上传图片 </label>
										<div class="col-sm-4">
											<div id="uploader" class="wu-example">
											    <div class="queueList">
											    <ul class="filelist">
											    	@if(product.getAppCar().getImages()!=null){
														
														@product.getAppCar().getImages().map{var i=0;m=>
														<li id="@m.getUrl()" class="state-complete">
															<p class="imgWrap">
																<img
																	src="../images/@m.getUrl()">
															</p>
															<p class="progress">
																<span style="display: none; width: 0px;"></span>
															</p>
															<span class="success"></span>
														</li>
														}
														
													}
											    </ul></div>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1">汽车车型 </label>
										<input type="text" name="id" style="display: none;" value="@product.getId()">
										<div class="col-sm-6">
											<input type="text" id="carname" placeholder="汽车车型" name="carname" class="col-xs-15" value="@product.getAppCar().getCarname()"/>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1">产品品牌 </label>
										
										<div class="col-sm-6">
											<input type="text" id="carname" placeholder="产品品牌" name="carname" class="col-xs-15" value="@product.getAppCar().getAssortname()"/>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1">产品类别 </label>
										
										<div class="col-sm-6">
											<input type="text" id="productcode" placeholder="产品类别" name="productcode"  value="@product.getAppCar().getProductcode()"/>
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1">产品价格 </label>
										
										<div class="col-sm-6">
											<input type="text" id="pricerange" placeholder="产品价格" name="pricerange" class="col-xs-15" value="@product.getPrice()万"/>
										</div>
									</div>
									<!--  <div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1">贷款购车 </label>
										<div class="col-sm-6">
									<li>
			                        <label>
			                        <input type="radio" name="isloan" id="isloan" class="class_aps" value="1"  @if(product.getIsloan()=="1"){checked}>
			                                                                激活
			                        </label>
			                         <label>
			                        <input type="radio" name="isloan" id="isloan" class="class_aps" value="0"  @if(product.getIsloan()!="1"){checked}>
			                                                                取消
			                        </label> 
			                        </li>
									</div>
									</div>-->
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1">节能补贴 </label>
										<div class="col-sm-6">
									<li>
			                        <label>
			                        <input type="radio" name="isefficient" id="isefficient1" class="class_aps" value="1"  @if(product.getIsefficient()=="1"){checked}>
			                                                                激活
			                        </label>
			                         <label>
			                        <input type="radio" name="isefficient" id="isefficient2" class="class_aps" value="0"  @if(product.getIsefficient()!="1"){checked}>
			                                                                取消
			                        </label> 
			                        </li>
									</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1">闪购专场 </label>
										<div class="col-sm-6">
									<li>
			                        <label>
			                        <input type="radio" name="isflash" id="isflash1" class="class_aps" value="1"  @if(product.getIsflash()=="1"){checked}>
			                                                                激活
			                        </label>
			                         <label>
			                        <input type="radio" name="isflash" id="isflash2" class="class_aps" value="0"  @if(product.getIsflash()!="1"){checked}>
			                                                                取消
			                        </label> 
			                        </li>
									</div>
									</div>
									<div class="form-group dataview" >
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1">闪购图片 </label>
										<div class="col-sm-6">
										<input name="flashimg" id="flashimg" type="file">
									</div>
									</div>
									<div class="form-group dataview">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1">图片预览 </label>
										<div class="col-sm-6"  id="img">
									</div>
									</div>
									<div class="form-group dataview" >
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1">闪购数量 </label>
										<div class="col-sm-6">
										<input name="flashamount" id="flashamount" type="text">
									</div>
									</div>
									<div class="form-group dataview" >
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1">闪购时间 </label>
										<div class="col-sm-6">
										<input class="datepicker" name="flashamount" id="flashamount" type="text">-<input class="datepicker" name="flashamount" id="flashamount" type="text">
									</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1">精英专场 </label>
										<div class="col-sm-6">
									<li>
			                        <label>
			                        <input type="radio" name="type" id="type" class="class_aps" value="1"  @if(product.getIsloan()=="1"){checked}>
			                                                                激活
			                        </label>
			                         <label>
			                        <input type="radio" name="type" id="type" class="class_aps" value="0"  @if(product.getIsloan()!="1"){checked}>
			                                                                取消
			                        </label> 
			                        </li>
									</div>
									</div>
									<div class="form-group" >
										<div class="clearfix form-actions">
											<div class="col-md-offset-3 col-md-9">
												<button class="btn btn-info" type="button" id="upload" onclick="check();" >
													<i class="ace-icon fa fa-check bigger-110"></i>
													提交
												</button>
												
											</div>
										</div>
									</div>
								</form>
								<iframe id="uploadframe" name="uploadframe" style="visibility:hidden"></iframe>
								<!--dom结构部分-->

								
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->


			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		@common.bottomjs()
		
		<!-- the following scripts are used in demo only for onpage help and you don't need them -->
		@common.bottomcss()
<script type="text/javascript"><!--

	function readFile(){ 
		var files=this.files;
			var file = this.files[0]; 
		console.log(files);
		if(!/image\/\w+/.test(file.type)){ 
	    	alert("文件必须为图片！"); 
	    	return false; 
			} 
		
			var result = document.getElementById("img"); 
			
		var reader = new FileReader(); 
			reader.readAsDataURL(file); 
			reader.onload = function(e){ 
			
			result.innerHTML = '<img src="'+this.result+'" alt=""/>';
			} 
			
	} 
		
	$("#customergp").addClass("active open");
	$("#ativityMenu").addClass("active");

	$("input[name='isflash']").click(function(){
		$("input[name='isflash']").each(function(i,e){
			console.log(e);
		});
	})
	
	
	function setPage(page){
		$('#page2').val(page);
		$('#f2').submit();
	}
	jQuery(function($) {
		//override dialog's title function to allow for HTML titles
		$.widget("ui.dialog", $.extend({}, $.ui.dialog.prototype, {
			_title: function(title) {
				var $title = this.options.title || '&nbsp;'
				if( ("title_html" in this.options) && this.options.title_html == true )
					title.html($title);
				else title.text($title);
			}
		}));

		var result = document.getElementById("img"); 
		var input = document.getElementById("flashimg"); 
 
		if(typeof FileReader=='undefined'){ 
   			result.innerHTML = "抱歉，你的浏览器不支持 FileReader"; 
    		input.setAttribute('disabled','disabled'); 
		}else{ 
   			input.addEventListener('change',readFile,false); 
		}
		$(".datepicker").datepicker({format:'yyyy-dd-mm'});
	});


	
	function setDetailId(id){
		window.location.href='/{ativityMenu}Detailed/'+id;
	}
	function setEditId(id){
	
		window.location.href='/{ativityMenu}Edit/'+id;
	}
	function redirectto(url){
		window.location.href=url;
	}
	function reloadImg(id){
		window.location.href='/appCarTried/'+id;
	}
	
	function setDelId(id){
	
			$( "#dialog-confirm" ).removeClass('hide').dialog({
				resizable: false,
				width: '320',
				modal: true,
				title: "<div class='widget-header'><h4 class='smaller'><i class='ace-icon fa fa-exclamation-triangle red'></i> 温馨提示:</h4></div>",
				title_html: true,
				buttons: [
					{
						html: "<i class='ace-icon fa fa-trash-o bigger-110'></i>&nbsp; 确定",
						"class" : "btn btn-danger btn-minier",
						click: function() {
							window.location.href='/{ativityMenu}Del/'+id;
						}
					}
					,
					{
						html: "<i class='ace-icon fa fa-times bigger-110'></i>&nbsp; 取消",
						"class" : "btn btn-minier",
						click: function() {
							$( this ).dialog( "close" );
						}
					}
				]
			});
}

	function check(){
		var color="";
		/*$(".colorul").each(function(i,har){
			if($(har).val()!=""){
				color+=$(har).val()+",";
			}
		})
		color=color.substring(0,color.length-1);
		$("#colorlist").val(color);
		*/
		/*var reg=/(^\d+$)|(^\d+(.\d{1,2})?$)/;
		
		var price=$("#pricerange").val();
		if(price==""||!reg.test(price)){
			alert("请输入正确数字!");
			return;
		}*/
		$("#s1").submit();
	}
</script>

							
<div id="dialog-confirm" class="hide">
<div class="alert alert-info bigger-110">
			删除数据后将不能恢复。
</div>

<div class="space-6"></div>

		<p class="bigger-110 bolder center grey">
				<i class="ace-icon fa fa-hand-o-right blue bigger-120"></i>
						您确定要删除该数据吗?
		</p>
</div><!-- #dialog-confirm -->
</div>

	</body>
</html>
