@(data: Customer, ativityMenu: String)
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>@common.title()</title>

		<meta name="description" content="jcoa" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<!-- bootstrap & fontawesome -->
		@common.bootstrapcss()
    
		<!-- inline styles related to this page -->
		@common.bootstrapjs()
		<style type="text/css">
		.td-header{text-align: right;font-size: 12px;font-weight: bolder;width: 134px}
		.td-content{text-align: left;position: relative;height: 34px}
		.td-content input{border-left: 0px;border-right: 0px;border-top: 0px;}
		input[type="checkbox"]{position: absolute;}   
		</style>
	</head>

	<body class="no-skin">
		<!-- #section:basics/navbar.layout -->

		<!-- /section:basics/navbar.layout -->
		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<!-- #section:basics/sidebar left-->

			<!-- /section:basics/sidebar -->
			<div class="main-content">
				<div class="main-content-inner">
					<!-- #section:basics/content.breadcrumbs -->
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">首页</a>
							</li>

							<li>
								<a href="#">客户管理</a>
							</li>
							<li>
								<a href="#">客户资料</a>
							</li>
						</ul><!-- /.breadcrumb -->
					</div>

					<!-- /section:basics/content.breadcrumbs -->
					<div class="page-content">
					
						<!-- /section:settings.box -->
						<div class="page-header">
							<h1>
								详细
								<small>
									<i class="ace-icon fa fa-angle-double-right"></i>
								</small>
							</h1>
						</div><!-- /.page-header -->
						
						<div style="text-align: left;">
							<button class="btn btn-sm btn-primary" onclick="window.location.href='/@{ativityMenu}List' "><i class="ace-icon glyphicon glyphicon-backward"></i>返回</button>
							<br>
						</div>
						<div class="row">
						&nbsp;
						</div>
						
						<div class="row">
						<form class="form-horizontal" role="form" method="post" name="s1" id="s1" action="/@{ativityMenu}AddDo">
							<table width="60%" border="1px" align="center">
							<thead>
								<tr>
									<th colspan="4"  style="font-size: 30px;text-align: center;">客户基本资料</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td colspan="4">
										<table width="100%" border="1px">
										<thead>
											<tr>
												<th colspan="4"  ><label style="font-size: 20px;left: 50px;position: relative;">基本信息</label></th>
											</tr>
										</thead>
										<tbody>
										<tr>
											<td class="td-header">*本人姓名:</td><td class="td-content">@data.getName()</td>
											<td class="td-header">身份证号码:</td><td class="td-content">@data.getIdentity()</td>
										</tr>
										<tr>
											<td class="td-header">*性别:</td><td class="td-content">
											@if(data.getSex()=="1"){男}else{女}
												</td>
											<td class="td-header">*手机号码:</td><td class="td-content">@data.getPhone()</td>
										</tr>
										<tr>
											<td class="td-header">*邮箱:</td><td class="td-content" colspan="3">@data.getEmail()</td>
										</tr>
										<tr>
											<td class="td-header">*现工作单位名称:</td><td class="td-content" colspan="3">@data.getCompany()</td>
										</tr>
										<tr>
											<td class="td-header">*进入该单位时间:</td>
											<td class="td-content" colspan="3" >
													@if(data.getEntrytime()!=null){@data.getEntrytime().format("yyyy-MM-dd")}else{}</td>
										</tr>
										<tr>
											<td class="td-header">*单位地址:</td><td class="td-content" colspan="3">@data.getCompanyaddress()</td>
										</tr>
										<tr>
											<td class="td-header">*职务:</td><td class="td-content">@data.getJob()</td>
											<td class="td-header">*月收入多少:</td><td class="td-content">@data.getSalary()</td>
										</tr>
										<tr>
											<td class="td-header">工作单位电话:</td><td class="td-content">@data.getCompanyphone()</td>
											<td class="td-header">*现在住址:</td><td class="td-content">@data.getAddress()</td>
										</tr>
										<tr>
											<td class="td-header">*入住时间:</td>
											<td class="td-content" colspan="3">
												@if(data.getStaytime()!=null){@data.getStaytime().format("yyyy-MM-dd")}else{}</td>
										</tr>
										<tr>
											<td class="td-header">*是否曾买过社保:</td><td class="td-content">@if(data.getIssecurity()=="1"){是}else{否}</td>
											<td class="td-header">*购买的社保单位名称:</td><td class="td-content">@data.getSecuritycompany()</td>
										</tr>
										</tbody>
										</table>
									</td>
								</tr>
								<tr>
									<td colspan="4">
										<table width="100%" border="1px">
										<thead>
											<tr>
												<th colspan="4"  ><label style="font-size: 20px;left: 50px;position: relative;">家庭情况</label></th>
											</tr>
										</thead>
										<tbody>
										<tr>
											<td class="td-header">*婚姻状况:</td><td class="td-content">
												@if(data.getMarry()=="1"){已婚}else{@if(data.getMarry()=="0"){未婚}else{@if(data.getMarry()=="2"){离异}else{再婚}}}
											</td>
											<td class="td-header">*有无子女:</td><td class="td-content">@if(data.getHaschild()=="1"){有}else{无}</td>
										</tr>
										<tr>
											<td class="td-header">*配偶名称:</td><td class="td-content">@data.getSpousename()</td>
											<td class="td-header">*联系电话:</td><td class="td-content">@data.getSpousephone()</td>
										</tr>
										@if(data.getAssets().size()>0){
										@data.getAssets().map{ obj=>
												<tr>
													<td class="td-header">*房产状况:</td><td class="td-content" >
														@if(obj.getHousetype()=="0"){按揭}else{@if(obj.getHousetype()=="1"){买断}else{@if(obj.getHousetype()=="2"){自建有房产证}else{自建无证}}}
													</td>
													<td colspan="2"></td>
												</tr>
												<tr>
													<td class="td-header">*购买时间:</td>
													<td class="td-content">@if(obj.getPurchasetime()!=null){@obj.getPurchasetime().format("yyyy-MM-dd")}else{}</td>
													<td class="td-header">*购买价值:</td><td class="td-content">@obj.getPrice()</td>
												</tr>
												<tr>
													<td class="td-header">*房产地址:</td><td class="td-content" colspan="3">@obj.getAddress()</td>
												</tr>
												}
											}
										</tbody>
										</table>
									</td>
								</tr>
								@if(data.getContacts().size>0){
								<tr>
									<td colspan="4">
										<table width="100%" border="1px">
										<thead>
											<tr>
												<th colspan="6"  ><label style="font-size: 20px;left: 50px;position: relative;">常用联系人</label></th>
											</tr>
										</thead>
										<tbody>
										<tr>
											<th colspan="6"  ><label style="font-size: 15px;left: 50px;position: relative;">*亲属</label></th>
										</tr>
										@data.getContacts().map{ contact=>
											@if(contact.getType()=="0"){
											<tr>
												<td class="td-header">关系:</td><td class="td-content">@contact.getContactwith()</td>
												<td class="td-header">姓名:</td><td class="td-content">@contact.getContactname()</td>
												<td class="td-header">电话:</td><td class="td-content">@contact.getPhone()</td>
											</tr>
											}
										}
										<tr>
											<th colspan="6"  ><label style="font-size: 15px;left: 50px;position: relative;">*同事</label></th>
										</tr>
										@data.getContacts().map{ contact=>
											@if(contact.getType()=="1"){
											<tr>
												<td class="td-header">同事姓名:</td><td class="td-content">@contact.getContactname()</td>
												<td class="td-header">同事电话:</td><td class="td-content" colspan="3">@contact.getPhone()</td>
											</tr>
											}
										}
										<tr>
											<th colspan="6"  ><label style="font-size: 15px;left: 50px;position: relative;">*朋友</label></th>
										</tr>
										@data.getContacts().map{ contact=>
											@if(contact.getType()=="2"){
											<tr>
												<td class="td-header">朋友姓名:</td><td class="td-content">@contact.getContactname()</td>
												<td class="td-header">朋友电话:</td><td class="td-content" colspan="3">@contact.getPhone()</td>
											</tr>
											}
										}
										</tbody>
										</table>
									</td>
								</tr>
								}
								@if(data.getCreditcards().size()>0){
								<tr>
									<td colspan="4">
										<table width="100%" border="1px">
										<thead>
											<tr>
												<th colspan="6"  ><label style="font-size: 20px;left: 50px;position: relative;">现有使用银行信用卡</label></th>
											</tr>
										</thead>
										<tbody>
										@data.getCreditcards().map{creditcard=>
											<tr>
												<td class="td-header">信用卡所属银行:</td><td class="td-content">@creditcard.getBank()</td>
												<td class="td-header">额度:</td><td class="td-content">@creditcard.getCreditquota()</td>
												<td class="td-header">已用额度:</td><td class="td-content">@creditcard.getQuotainuser()</td>
											</tr>
											<tr>
												<td class="td-header">开卡所填写的工作单位:</td><td class="td-content" colspan="5">@creditcard.getCompany()</td>
											</tr>
										}
										</tbody>
										</table>
									</td>
								</tr>
								}
								<tr>
									<td colspan="4">
										<table width="100%" border="1px">
										<thead>
											<tr>
												<th colspan="6"  ><label style="font-size: 20px;left: 50px;position: relative;">意向购买车型</label></th>
											</tr>
										</thead>
										<tbody>
										<tr>
											<td class="td-header">购买车型:</td><td class="td-content" colspan="5">@data.getCartype()</td>
										</tr>
										<tr>
											<td class="td-header">付款方式:</td><td class="td-content" >@if(data.getPaidtype()=="0"){全额付款}else{@if(data.getPaidtype()=="1"){给首付分期付}else{零首付分期付款}}</td>
											<td class="td-header">款金额:</td><td class="td-content">@data.getFristmoney()</td>
											<td class="td-header" colspan="2"></td>
										</tr>
										</tbody>
										</table>
									</td>
								</tr>
								<tr>
									<td colspan="4">
										<table width="100%" border="1px">
										<thead>
											<tr>
												<th colspan="4"  ><label style="font-size: 20px;left: 50px;position: relative;">借贷资金</label></th>
											</tr>
										</thead>
										<tbody>
										<tr>
											<td class="td-header">*借贷金额:</td><td class="td-content" colspan="3">@data.getCrmoney()</td>
										</tr>
										<tr>
											<td class="td-header">*资金用途:</td><td class="td-content" colspan="3">@data.getCreffect()</td>
										</tr>
										<tr>
											<td class="td-header">*还款来源:</td><td class="td-content" colspan="3">@data.getCrorigin()</td>
										</tr>
										</tbody>
										</table>
									</td>
								</tr>
								<tr>
									<td colspan="4">
										<table width="100%" border="1px">
										<thead>
											<tr>
												<th colspan="4"  ><label style="font-size: 20px;left: 50px;position: relative;">商城积分</label></th>
											</tr>
										</thead>
										<tbody>
										<tr>
											<td class="td-header">*积分累计:</td><td class="td-content" >@data.getIntegral()</td>
											<td class="td-header">*积分余额:</td><td class="td-content" >@data.getActualintegral()</td>
										</tr>
										</tbody>
										</table>
									</td>
								</tr>
							</tbody>
							</table>
							</form>
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->


			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		<!-- basic scripts -->
		@common.bottomjs()
		
		<!-- the following scripts are used in demo only for onpage help and you don't need them -->
		@common.bottomcss()
		
<script type="text/javascript">

		$("#customergp").addClass("active open");
		$("#@ativityMenu").addClass("active");
	
	jQuery(function($) {
			$('.date-picker').datepicker({
					autoclose: true,
					todayHighlight: true
			})
			$("input[name='paidtype']").click(function(){
				var ch=$(this).val();
				$("input[name='paidtype'][value!='"+ch+"']").attr("checked",false);
			})
	});
	
	function checkUid(){
		
	}
	
	function checkStarttime(){
		
	}
	
	function checkEndtime(){
		
	}
	
	function check(){
		$('#s1').submit();
	}
	
</script>

	</body>
</html>
