@(obj: Department)
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>@common.title()</title>

		<meta name="description" content="jcoa" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<!-- bootstrap & fontawesome -->
		@common.bootstrapcss()
    
		<!-- inline styles related to this page -->
		@common.bootstrapjs()
		
	</head>

	<body class="no-skin">
		<!-- #section:basics/navbar.layout -->
		@common.topbar()

		<!-- /section:basics/navbar.layout -->
		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<!-- #section:basics/sidebar left-->
			@common.left()

			<!-- /section:basics/sidebar -->
			<div class="main-content">
				<div class="main-content-inner">
					<!-- #section:basics/content.breadcrumbs -->
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">首页</a>
							</li>

							<li>
								<a href="#">部门管理</a>
							</li>
							<li class="active">编辑</li>
						</ul><!-- /.breadcrumb -->

					
					</div>

					<!-- /section:basics/content.breadcrumbs -->
					<div class="page-content">
					
						<!-- /section:settings.box -->
						<div class="page-header">
							<h1>
								编辑
								<small>
									<i class="ace-icon fa fa-angle-double-right"></i>
								</small>
							</h1>
						</div><!-- /.page-header -->
						
						<div style="text-align: left;">
							<button class="btn btn-sm btn-primary" onclick="window.location.href='/departmentList' "><i class="ace-icon glyphicon glyphicon-backward"></i>返回</button>
							<br>
						</div>
						<div class="row">
						&nbsp;
						</div>
						
						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<form class="form-horizontal" role="form" name="s1" id="s1" action="/departmentEditDo" method="post">
								<input type="hidden"  name="departid" value="@obj.getDepartid()"  />
									<!-- #section:elements.form -->
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1">部门名称 </label>
										
										<div class="col-sm-6">
											<input type="text" id="name" placeholder="部门名称" name="name" value="@obj.getName()" class="col-xs-15" />
										</div>
									</div>

									<div class="clearfix form-actions">
										<div class="col-md-offset-3 col-md-9">
											<button class="btn btn-info" type="button" onclick="javascript:check()">
												<i class="ace-icon fa fa-check bigger-110"></i>
												提交
											</button>
										</div>
									</div>

								</form>
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->

			@common.footer()

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		<!-- basic scripts -->
		@common.bottomjs()
		
		<!-- the following scripts are used in demo only for onpage help and you don't need them -->
		@common.bottomcss()
		
<script type="text/javascript">

	$("#systemLi").addClass("active open");
	$("#departmentLi").addClass("active");
	
	jQuery(function($) {
	
			$('.date-picker').datepicker({
					autoclose: true,
					todayHighlight: true
			})
	});
	
			
	function check(){
		
		if($('#name').val()==""){
			
			alert("请输入部门名称!");
			return;
		}
		
		$('#s1').submit();
	}
	
</script>

	</body>
</html>
