@(result:String)
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>@common.title()</title>

		<meta name="description" content="ccmall" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<!-- bootstrap & fontawesome -->
		@common.bootstrapcss()
    
		<!-- inline styles related to this page -->
		@common.bootstrapjs()
  <link rel="shortcut icon" type="image/x-icon" href="@routes.Assets.at("source/favicon-4be993d1d0c59dcfef87cb7a76101316.ico")">
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("source/published-acdcfaa16b8d27b0fe203dd10c2c76b3.css")">
  <style type="text/css">
    .entry-container {
        background-color: #FFFFFF;
        background-image: none;
    }

      /*.bg-image {
        background-image: url(@routes.Assets.at("source/img_forest-e5e8d044a80242dfad5d2b4f31e11444.jpg"));
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 100% auto;
      }*/
</style>
<style type="text/css">
    .entry-container .banner {
          background-color: #F1BE3E;
      color: #FFF;

    }

    .entry-container form .form-name {
    font-size: 22px; color: #000; font-weight: normal;
    }

    .entry-container form .form-description {
    font-size: 12px; color: #666; font-weight: normal;
    }

    .entry-container form .field label.control-label {
    font-size: 14px; color: #333; font-weight: bold;
    }

    .entry-container form .field .field-content label,
    .entry-container form .field .attachment .status .file-name,
    .entry-container form .field .attachment label {
    font-size: 14px; color: #333; font-weight: bold;
      font-size: 12px;
      font-weight: normal;
    }
    .entry-container form .field .field-content .image-choices label,
    .entry-container form fieldset .goods-items .goods-item .text-wrapper .dimensions .dimension-options label {
      color: inherit;
    }

    .entry-container form .field .help-block{
    font-size: 12px; color: #777; font-weight: normal;
    }

    .entry-container form .field.section-break label {
    font-size: 16px; color: #333; font-weight: bold;
    }

    .entry-container form .field.section-break .help-block {
    font-size: 12px; color: #666; font-weight: normal;
    }

    .entry-container .message {
    font-size: 22px; color: #000; font-weight: normal;
    }

</style>

  <!--[if lte IE 8]>
    <link rel="stylesheet" media="screen" href="https://dn-jinshuju-assets.qbox.me/assets/ie/lte-ie8-5f241866a5ca91ae70a6086c2de74c25.css" />
    <script src="https://dn-jinshuju-assets.qbox.me/assets/html5-911517312f86c29e693e2f6ab883d32c.js"></script>
  <![endif]-->
  <!--[if lte IE 7]>
    <link rel="stylesheet" media="screen" href="https://dn-jinshuju-assets.qbox.me/assets/ie/lte-ie7-7b05509f67298d166d12cdaa90261d62.css" />
  <![endif]-->
  <!--[if IE 6]> <link rel="stylesheet" media="screen" href="https://dn-jinshuju-assets.qbox.me/assets/ie/ie6-91123b80e6bdc2feb6691c5ffd129e91.css" /> <![endif]-->
  <script async="" src="//www.google-analytics.com/analytics.js"></script><script src="@routes.Assets.at("source/application-8ea0575bb08701ad6ba91d51df67fe74.js")"></script>
  <!--[if IE 6]>
    <script src="https://dn-jinshuju-assets.qbox.me/assets/published_forms/fix-ie6-a494f8857cd1cfc8c27ed75fea5c0221.js"></script>
  <![endif]-->
  
<style id="mailListAppendCss" type="text/css">.mailListBox{border:1px solid #369; background:#fff; }.mailListDefault{padding:0 5px;cursor:pointer;white-space:nowrap;}.mailListFocus{padding:0 5px;cursor:pointer;white-space:nowrap;background:#369;color:white;}.mailListHlignt{color:red;}.mailListFocus .mailListHlignt{color:#fff;}</style>
	</head>
	<body class="entry-container bg-image" style="">



		<form class="center" data-form-token="294tg2"
			data-validate-url="/f/294tg2/validate_fields" id="new_entry"
			action="/guestsubscribeAdd" accept-charset="UTF-8" method="post">
			<input type="hidden" name="utf8" value="✓">
			<input type="hidden" name="authenticity_token"
				value="uIPLOGy1tepfSkD5F+dPMV7u2945C71NDwE+ZiYavQQ6X44WbN5sRcIE+wr7kfJ3X3gG8GDFBYIldy9mfslFeA==">
			<div class="banner">
				<span class="banner-text banner-content"></span>


			</div>

			<h1 class="form-name">
				广州晟仓汽车贸易有限公司购车申请表
			</h1>
			<div class="form-description"></div>

			<fieldset>
				<div class="form-content">


					<div class="form-message gd-hide"></div>


					<div class="form-fields-container">
						<div class="field" data-api-code="field_1">
							<div class="form-group ">
								<label class="control-label field_title" onclick=""
									data-role="collapse_toggle" for="entry_field_1">
									姓名

									<span style="color: red;">*</span>
								</label>
								<div class="field-content">

									<div class="controls">
										<input type="text" value="" name="name"
											id="entry_field_1">
									</div>

								</div>
							</div>


						</div>
						<div class="field" data-api-code="field_2">
							<div class="form-group ">
								<label class="control-label field_title" onclick=""
									data-role="collapse_toggle" for="entry_field_2">
									联系电话

									<span style="color: red;">*</span>
								</label>
								<div class="field-content">

									<div class="controls">
										<input type="text" value="" name="phone"
											id="entry_field_2">
									</div>

								</div>
							</div>


						</div>
						<div class="field" data-api-code="field_3">
							<div class="form-group ">
								<label class="control-label field_title" onclick=""
									data-role="collapse_toggle" for="entry_field_3">
									性别


								</label>
								<div class="field-content">

									<div class="controls">
										<div class="clearfix checkbox-group" data-role="controlgroup">
											<label onclick="" class="checkbox ">
												<input type="checkbox" value="okoR" name="sex">
												男
											</label>
											<label onclick="" class="checkbox ">
												<input type="checkbox" value="ragL" name="sex">
												女
											</label>

										</div>
									</div>

								</div>
							</div>


						</div>
						<div class="field" data-api-code="field_4">
							<div class="form-group ">
								<label class="control-label field_title" onclick=""
									data-role="collapse_toggle" for="entry_field_4">
									广东房产情况


								</label>
								<div class="field-content">

									<div class="controls">
										<div class="clearfix checkbox-group" data-role="controlgroup">
											<label onclick="" class="checkbox ">
												<input type="checkbox" value="5wGZ" name="asset">
												有
											</label>
											<label onclick="" class="checkbox ">
												<input type="checkbox" value="zOUu" name="asset">
												无
											</label>

										</div>
									</div>

								</div>
							</div>


						</div>
						<div class="field" data-api-code="field_5">
							<div class="form-group ">
								<label class="control-label field_title" onclick=""
									data-role="collapse_toggle" for="entry_field_5">
									驾照

									<span style="color: red;">*</span>
								</label>
								<div class="field-content">

									<div class="controls">
										<div class="clearfix checkbox-group" data-role="controlgroup">
											<label onclick="" class="checkbox ">
												<input type="checkbox" value="K9Qy" name="driveport">
												有
											</label>
											<label onclick="" class="checkbox ">
												<input type="checkbox" value="FJyd" name="driveport">
												无
											</label>

										</div>
									</div>

								</div>
							</div>


						</div>
						<div class="field" data-api-code="field_6">
							<div class="form-group ">
								<label class="control-label field_title" onclick=""
									data-role="collapse_toggle" for="entry_field_6">
									意向车价


								</label>
								<div class="field-content">

									<div class="controls">
										<div class="clearfix checkbox-group" data-role="controlgroup">
											<label onclick="" class="checkbox ">
												<input type="checkbox" value="qhy0" name="intentprice">
												8-20万
											</label>
											<label onclick="" class="checkbox ">
												<input type="checkbox" value="hNqp" name="intentprice">
												20-30万
											</label>
											<label onclick="" class="checkbox ">
												<input type="checkbox" value="q4Gc" name="intentprice">
												30-50万
											</label>
											<label onclick="" class="checkbox ">
												<input type="checkbox" value="Y9lk" name="intentprice">
												50万以上
											</label>

										</div>
									</div>

								</div>
							</div>


						</div>
						<div class="field" data-api-code="field_7">
							<div class="form-group ">
								<label class="control-label field_title" onclick=""
									data-role="collapse_toggle" for="entry_field_7">
									购车时间


								</label>
								<div class="field-content">

									<div class="controls">
										<div class="clearfix checkbox-group" data-role="controlgroup">
											<label onclick="" class="checkbox ">
												<input type="checkbox" value="91Tm" name="dominatedate">
												一个月内
											</label>
											<label onclick="" class="checkbox ">
												<input type="checkbox" value="LEkz" name="dominatedate">
												一到两个月
											</label>
											<label onclick="" class="checkbox ">
												<input type="checkbox" value="GK4d" name="dominatedate">
												两个月以上
											</label>

										</div>
									</div>

								</div>
							</div>


						</div>
						<div class="field" data-api-code="field_8">
							<div class="form-group ">
								<label class="control-label field_title" onclick=""
									data-role="collapse_toggle" for="entry_field_8">
									推荐号（无人推荐输入：0000）

									<span style="color: red;">*</span>
								</label>
								<div class="field-content">

									<div class="controls">
										<input type="text" value="" name="recommend"
											id="entry_field_8">
									</div>

								</div>
							</div>


						</div>
					</div>
					<script>
//<![CDATA[

  $(function() {
    String.locale = 'zh-CN';

    var formContainer = $("form[data-form-token='294tg2']");
    var rules = $.parseJSON('{}');
    if (!_.isEmpty(rules)) {
      GoldenData.initFormLogic(rules, formContainer);
    }

  });

//]]>
</script>



					<div class="field submit-field ">

						<div class="value">

							<input type="submit" name="commit" value="提交"
								data-disable-with="提交中..." class="submit btn btn-primary">
							<span class="page-number text-muted"></span>
							
							<input type="hidden" name="embedded" id="embedded">
							<input type="hidden" name="banner" id="banner">
							<input type="hidden" name="background" id="background">
						</div>
					</div>
				</div>
			</fieldset>
		</form>
		<script>
//<![CDATA[

  $(function() {
    var formContainer = $("form[data-form-token='294tg2']:visible");
    GoldenData.initFormPagination(formContainer);
  });

//]]>
</script>

		<script>
//<![CDATA[

    $(function() {
      $("[data-role='attachment']").addClass('preview');
      @if(result!=""){alert("录入成功!")};
    })

//]]>
</script>


		<div id="form_page_error_messages_modal" class="modal warning  "
			tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
			<div class="modal-dialog ">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span>×</span>
						</button>
						<h4 class="modal-title">
							当前页面填写有错误！
						</h4>
					</div>
					<div class="modal-body clearfix">
						<div class="error-explanation">
							<h5>
								错误提醒：
							</h5>
							<ul>
							</ul>
						</div>
					</div>
					<div class="modal-footer">
						<a data-dismiss="modal" class="btn btn-info"
							href="javascript:void(0)">返回修改</a>
					</div>
				</div>
			</div>
		</div>
		<footer class="published">
		<div class="center ">
			@common.footer()
		</div>
		</footer>
<script>
//<![CDATA[

      $(function(){
        GoldenData = GoldenData || {};
        GoldenData.getFormMessages('/f/294tg2/form_message');

        $("#new_entry").find("input[type='checkbox']").click(function(){
			var name=$(this).attr("name");
			var val=$(this).val();
			$("#new_entry").find("input[type='checkbox'][name='"+name+"'][value!='"+val+"']").prop("checked",false);;
			})
      });

    $(function() {
      $(document).on('mousedown', 'input.submit', function(){ga('send', 'event', 'PublicForm', 'Submit', "56527f38a3f520752a000042");});
      $(document).on('mousedown', '.corner-qrcode', function(){ga('send', 'event', 'PublicForm', '点击表单二维码分享', "56527f38a3f520752a000042");});
      $('.goods-warning').delay(1000).slideDown(500);
    });


//]]>
</script>
		<script>
//<![CDATA[

  $(function() {
  GoldenData = GoldenData || {};
  GoldenData.attachmentIconPath = {
    "default": "https://dn-jinshuju-assets.qbox.me/assets/attachment-a31ff0b3415f9af21beaafb7ef4154af.png",
    pdf: "https://dn-jinshuju-assets.qbox.me/assets/pdf-d9d1752d1f2f44dbf3da530b14c60b49.png",
    txt: "https://dn-jinshuju-assets.qbox.me/assets/txt-ab2bbff31d68a0a29f299303bfcf8c53.png",
    doc: "https://dn-jinshuju-assets.qbox.me/assets/doc-7c426a9842fdb059e507cf91b45b32a2.png",
    docx: "https://dn-jinshuju-assets.qbox.me/assets/docx-b4911393bc85adeb0fd7ed31f9e76b80.png",
    ppt: "https://dn-jinshuju-assets.qbox.me/assets/ppt-deba2816b40adaf428867ec8bd384743.png",
    pptx: "https://dn-jinshuju-assets.qbox.me/assets/pptx-aeb6e1a81c29f6e434fe66c4b8eede7a.png",
    xls: "https://dn-jinshuju-assets.qbox.me/assets/xls-9cecfd14c412372c47fefcbb1381e6a1.png",
    xlsx: "https://dn-jinshuju-assets.qbox.me/assets/xlsx-34fdf0a9a6f58b85816cb408e33b8e27.png",
    jpg: "https://dn-jinshuju-assets.qbox.me/assets/jpg-b51850b037ce3fe5dcd1a391bc40ed63.png",
    png: "https://dn-jinshuju-assets.qbox.me/assets/png-f9f993742eeda3345fd7d67dd49adb67.png",
    rar: "https://dn-jinshuju-assets.qbox.me/assets/rar-77c8a902e5fa794eea085eda28c56564.png",
    zip: "https://dn-jinshuju-assets.qbox.me/assets/zip-b7951f0c934ca6f605c5386e1acaaa96.png",
    mp3: "https://dn-jinshuju-assets.qbox.me/assets/mp3-24417170e55ecf12c835e8954a604c40.png",
    mp4: "https://dn-jinshuju-assets.qbox.me/assets/mp4-88374e522dabdbb36a750ec3b96ecdb0.png",
    avi: "https://dn-jinshuju-assets.qbox.me/assets/avi-53b47acf2430b058c9e68770c7d2b46c.png",
    gif: "https://dn-jinshuju-assets.qbox.me/assets/gif-f408b3d6651678387a506049c871d4f3.png",
    jpeg: "https://dn-jinshuju-assets.qbox.me/assets/jpeg-bf1558376829b15ac3982625bdb03b54.png",
    mpg: "https://dn-jinshuju-assets.qbox.me/assets/mpg-6fc591a075d67c88f91d335611a9fc5e.png",
    rm: "https://dn-jinshuju-assets.qbox.me/assets/rm-0c1e7e1a27cdd599bbf6175fa474c2c0.png",
    mov: "https://dn-jinshuju-assets.qbox.me/assets/mov-c837ca0e65a47f69aee4fc0ef22a22a6.png"
  };


  GoldenData.attachmentIcon = function(name) {
    var baseName = "default";
    if(typeof(name) != "undefined") {
      baseName = name.split('.')[0];
    }
    baseName = baseName in GoldenData.attachmentIconPath ? baseName : 'default'
    return GoldenData.attachmentIconPath[baseName];
  };

  GoldenData.zeroClipboardFlash = "https://dn-jinshuju-assets.qbox.me/assets/ZeroClipboard-a80f5f7084c53daeed63e2f7c1adb74e.swf";
  GoldenData.tinyMCEAsset = "https://dn-jinshuju-assets.qbox.me/assets/tinymce/content.css";
  GoldenData.tinyMCEFieldInsertionAsset = "https://dn-jinshuju-assets.qbox.me/assets/tinymce/field-insertion-content.css";
  GoldenData.mapMarkerDefault = "https://dn-jinshuju-assets.qbox.me/assets/map_marker_defaul
	t-f17aa532cd5ecfceff0b6b54ca67dfb8.png";
		GoldenData.mapMarkerSelected = "https://dn-jinshuju-assets.qbox.me/assets/map_marker_selected-d20361d0a3759463c3c0fe3efad9658a.png";
	});

	//]]>
</script>
		<script>
	if (document.querySelectorAll("script[src*='www.google-analytics.com']").length === 0) {
		(function(i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r;
			i[r] = i[r] || function() {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date();
			a = s.createElement(o), m = s.getElementsByTagName(o)[0];
			a.async = 1;
			a.src = g;
			m.parentNode.insertBefore(a, m)
		})(window, document, 'script',
				'//www.google-analytics.com/analytics.js', 'ga');
	}

	ga('create', 'UA-48208031-1', 'auto');
	ga('require', 'displayfeatures');
	ga('send', 'pageview');
</script>

		<div id="lightboxOverlay" class="lightboxOverlay"
			style="display: none;"></div>
	</body>
</html>
