<link rel="stylesheet" href="@routes.Assets.at("css/ace.onpage-help.css")" />
		<link rel="stylesheet" href="@routes.Assets.at("js/themes/sunburst.css")" />

		<script type="text/javascript"> ace.vars['base'] = '..'; </script>
		<script src="@routes.Assets.at("js/ace/elements.onpage-help.js")"></script>
		<script src="@routes.Assets.at("js/ace/ace.onpage-help.js")"></script>
		<script src="@routes.Assets.at("js/rainbow.js")"></script>
		<script src="@routes.Assets.at("js/language/generic.js")"></script>
		<script src="@routes.Assets.at("js/language/html.js")"></script>
		<script src="@routes.Assets.at("js/language/css.js")"></script>
		<script src="@routes.Assets.at("js/language/javascript.js")"></script>