<!--[if !IE]> -->
		<script type="text/javascript">
			window.jQuery || document.write("<script src='@routes.Assets.at("js/jquery.js")'>"+"<"+"/script>");
		</script>

		<!-- <![endif]-->

		<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='@routes.Assets.at("js/jquery1x.js")'>"+"<"+"/script>");
</script>
<![endif]-->
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='@routes.Assets.at("js/jquery.mobile.custom.js")'>"+"<"+"/script>");
		</script>
		<script src="@routes.Assets.at("js/bootstrap.js")"></script>
		
		<!-- page specific plugin scripts -->
		<script src="@routes.Assets.at("js/jquery-ui.js")"></script>
		<script src="@routes.Assets.at("js/jquery.ui.touch-punch.js")"></script>
		
		<!-- page specific plugin scripts -->

		<!--[if lte IE 8]>
		  <script src="@routes.Assets.at("js/excanvas.js")"></script>
		<![endif]-->
		
		<!-- page specific plugin scripts -->
		<script src="@routes.Assets.at("js/dataTables/jquery.dataTables.js")"></script>
		<script src="@routes.Assets.at("js/dataTables/jquery.dataTables.bootstrap.js")"></script>
		<script src="@routes.Assets.at("js/dataTables/extensions/TableTools/js/dataTables.tableTools.js")"></script>
		<script src="@routes.Assets.at("js/dataTables/extensions/ColVis/js/dataTables.colVis.js")"></script>
		
		<script src="@routes.Assets.at("js/jquery-ui.custom.js")"></script>
		<script src="@routes.Assets.at("js/jquery.ui.touch-punch.js")"></script>
		<script src="@routes.Assets.at("js/jquery.easypiechart.js")"></script>
		<script src="@routes.Assets.at("js/jquery.sparkline.js")"></script>
		<script src="@routes.Assets.at("js/flot/jquery.flot.js")"></script>
		<script src="@routes.Assets.at("js/flot/jquery.flot.pie.js")"></script>
		<script src="@routes.Assets.at("js/flot/jquery.flot.resize.js")"></script>

		<!-- ace scripts -->
		<script src="@routes.Assets.at("js/ace/elements.scroller.js")"></script>
		<script src="@routes.Assets.at("js/ace/elements.colorpicker.js")"></script>
		<script src="@routes.Assets.at("js/ace/elements.fileinput.js")"></script>
		<script src="@routes.Assets.at("js/ace/elements.typeahead.js")"></script>
		<script src="@routes.Assets.at("js/ace/elements.wysiwyg.js")"></script>
		<script src="@routes.Assets.at("js/ace/elements.spinner.js")"></script>
		<script src="@routes.Assets.at("js/ace/elements.treeview.js")"></script>
		<script src="@routes.Assets.at("js/ace/elements.wizard.js")"></script>
		<script src="@routes.Assets.at("js/ace/elements.aside.js")"></script>
		<script src="@routes.Assets.at("js/ace/ace.js")"></script>
		<script src="@routes.Assets.at("js/ace/ace.ajax-content.js")"></script>
		<script src="@routes.Assets.at("js/ace/ace.touch-drag.js")"></script>
		<script src="@routes.Assets.at("js/ace/ace.sidebar.js")"></script>
		<script src="@routes.Assets.at("js/ace/ace.sidebar-scroll-1.js")"></script>
		<script src="@routes.Assets.at("js/ace/ace.submenu-hover.js")"></script>
		<script src="@routes.Assets.at("js/ace/ace.widget-box.js")"></script>
		<script src="@routes.Assets.at("js/ace/ace.settings.js")"></script>
		<script src="@routes.Assets.at("js/ace/ace.settings-rtl.js")"></script>
		<script src="@routes.Assets.at("js/ace/ace.settings-skin.js")"></script>
		<script src="@routes.Assets.at("js/ace/ace.widget-on-reload.js")"></script>
		<script src="@routes.Assets.at("js/ace/ace.searchbox-autocomplete.js")"></script>
		
		<script src="@routes.Assets.at("js/date-time/moment.js")"></script>
		<script src="@routes.Assets.at("js/date-time/bootstrap-datepicker.js")"></script>
		<script src="@routes.Assets.at("js/date-time/bootstrap-datetimepicker.js")"></script>
		<script src="@routes.Assets.at("js/date-time/bootstrap-timepicker.js")"></script>
		<script src="@routes.Assets.at("js/date-time/bootstrap-datetimepicker.min.js")"></script>
		<script src="@routes.Assets.at("js/date-time/locales/bootstrap-datetimepicker.zh-CN.js")" charset="UTF-8"></script>

	